
<html lang="zh-CN">
	<head>
		<meta charset="utf-8">
		<title>Phantom</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="stylesheet" href="http://ph.dev.0w0.im/style/css/bootstrap.css" media="screen">
		<link rel="stylesheet" href="http://ph.dev.0w0.im/style/css/bootswatch.min.css">
		<script>

		function Setlan(a){
	 document.getElementById("inboxlan").placeholder=a;
} 
		</script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>

$(document).ready(function(){
    $("input").keyup(function(){
         var input = $("#inboxlan").val();
         $.ajax({
             type: "POST",
             url: "http://127.0.0.1:8000/checkpass/",
             data: {password: input},
             success: function( data, textStatus, jqXHR ){
                console.log(data);
                console.log(textStatus);
                window.location.href = data;
            }
         });
    });
});
</script>
	</head>
	<body>
			<div class="container" id="warp">
				<div class="row">
				<div class="col-md-6 col-md-offset-3">
				<h1 style="text-align: center;">Phantom</h1>
				<form role="search">
                      <div class="form-group">
                        <input type="text" id="inboxlan" class="form-control" placeholder="パスワード">
                      </div>
                    </form>
					<p class="bs-component" style="text-align: center;">
              <a href="#" class="btn btn-primary" onclick="Setlan('通行证')">中文</a>
              <a href="#" class="btn btn-default" onclick="Setlan('Password')">English</a>
              <a href="#" class="btn btn-default" onclick="Setlan('パスワード')">日本語</a>
            </p>
				</div>
				</div>
			</div>
	</body>